@page
@model CloudClinic.Pages.Admin.Account.AdminLoginModel

@{ 
    Layout = "_AccountLayout";
}
    <div class="authentication">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <form method="post" asp-page-handler="Login" id="login-form" class="card auth_form">
                        <div class="header">
                            <img class="logo" src="~/admin/images/logo.svg" alt="">
                            <h5>Log in</h5>
                            <h5>@ViewData["error"]</h5>
                        </div>
                        <div class="body">
                            <div class="input-group mb-3">
                                <input asp-for="LoginModel.UserName" type="text" class="form-control" placeholder="Email">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="zmdi zmdi-account-circle"></i></span>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input asp-for="LoginModel.Password" type="text" class="form-control" placeholder="Password">
                                <div class="input-group-append">
                                    <span class="input-group-text"><a href="forgot-password.html" class="forgot" title="Forgot Password"><i class="zmdi zmdi-lock"></i></a></span>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block waves-effect waves-light"
                                    onclick="submitForm('login-form')">
                            SIGN IN</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="card">
                        <img src="~/admin/images/signin.svg" alt="Sign In" />
                    </div>
                </div>
            </div>
        </div>
    </div>